.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  font-size: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3rem;
}

[type="submit"] {
  padding: 0.5rem;
  font-size: large;
  background-color: blueviolet;
  margin-left: 1rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: white;
}

[type="file"] {
  padding: 0.3rem 1rem;
  border: 2px solid blueviolet;
  font-size: large;
}

.display {
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
}

h3 {
  color: #282c34;
  border-bottom: 4px solid blueviolet;
  width: max-content;
  margin: 0 auto;
}

img {
  margin: 0rem auto;
}

